*{
    background: lightgray;
    font-family: sans-serif;
}

h1{
    text-align: center;
}

.tex-center{
    text-align: center;
}

.footer{

    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 15px; /* Поля вокруг текста */
    width: 90%; /* Ширина слоя */
}

.product{
    width: 179px;
    height: 230px;
    border-radius: 30px;
    border: 0px solid gray;
    border: 1px solid gray;
    /*text-align: center;*/
    margin: 20px;

}

.block{
    display: inline-block;
    text-align: center;
    /*font-size: 30px;*/

}
.container{
    padding: 20px;
    border: 1px solid #000;
}

img{
    margin: 20px;
}

/*.footer_hr{*/
/*    top: 620px;*/
/*    position: relative;*/
/*}*/